$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(148, 148, 148);
$rad: rgb(255, 0, 0);
$black-blue: rgb(7, 0, 21);
$blue-violet: rgb(98, 36, 223);
$blue-violet__box-shadow: rgb(115, 58, 230);