@font-face {
   font-family: pantonExtraBold;
   src: url("../../src/fonts/panton_extrabold.woff2");
}

@font-face {
   font-family: montserratExtraBold;
   src: url("../../src/fonts/panton_extrabold.woff2");
}

@font-face {
   font-family: montserratMedium;
   src: url("../../src/fonts/montserrat_medium.woff2");
}

@font-face {
   font-family: montserratRegular;
   src: url("../../src/fonts/montserrat_regular.woff2");
}

@font-face {
   font-family: montserratExtraLight;
   src: url("../../src/fonts/montserrat_extralight.woff2");
}